<mat-toolbar color="primary">

    <!--    <button mat-icon-button class="example-icon favorite-icon"-->
    <!--            aria-label="Example icon-button with heart icon">-->
    <!--        <mat-icon></mat-icon>-->
    <!--    </button>-->

    <img src="./assets/images/all4drive.ico" alt=""
         class="example-icon favorite-icon h-50">


    <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title | uppercase}}</span>
    <span class="example-spacer"></span>
    <!--    <button mat-icon-button class="example-icon"-->
    <!--            aria-label="Example icon-button with share icon">-->
    <!--        <mat-icon>share</mat-icon>-->
    <!--    </button>-->
</mat-toolbar>